@model SklepProjekt.Models.Produkt

<h2>Dodaj nowy produkt</h2>

@using (Html.BeginForm("Create", "Produkty", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nazwa_produktu)
        @Html.TextBoxFor(model => model.Nazwa_produktu, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nazwa_produktu)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Opis)
        @Html.TextAreaFor(model => model.Opis, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Opis)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cena)
        @Html.TextBoxFor(model => model.Cena, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Cena)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dostępna_ilość)
        @Html.TextBoxFor(model => model.Dostępna_ilość, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Dostępna_ilość)
    </div>

    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-primary" />
        @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
