@model SklepProjekt.Models.Klient

<h2>Usuń klienta</h2>

<div class="alert alert-danger">
    Czy na pewno chcesz usunąć tego klienta?
</div>

<table class="table">
    <tr>
        <th>Id Klienta</th>
        <td>@Model.ID_klienta</td>
    </tr>
    <tr>
        <th>Imie</th>
        <td>@Model.Imie</td>
    </tr>
    <tr>
        <th>Nazwisko</th>
        <td>@Model.Nazwisko</td>
    </tr>
    <tr>
        <th>Adres</th>
        <td>@Model.Adres</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Numer Telefonu</th>
        <td>@Model.Numer_telefonu</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
